@charset "UTF-8";
 
/* Media Querys para dispositivos móveis tablet 780 */
@media screen and (max-width: 600px) {
    body {
        height: 100%;
        background-image: url('../imagem/pexels-rachel-claire-5531300.jpg')
        background-size: cover;
    }
    section#cadastro {
        
        width: 60%;                /* ocupa mais da tela em mobile */
            background-image: linear-gradient(to left,blue,green);
        padding: 1rem;
    }

    /* exemplo: ajustar títulos */
    #imagem h1 {
        font-size: 1.3rem;
    }
    #imagem h2 {
        font-size: 1rem;
    }
}
@media screen and(max-width: 992px) {
    body {

        height: 100%;
       background-size: cover;
        background-image: url('../imagem/pexels-mati-21630943.jpg')
       
        
    }
    section#cadastro {
        width: 80%;                /* ocupa mais da tela em mobile */
            background-image: linear-gradient(to left,blue,green);
        padding: 0.5rem;
    }

    /* exemplo: ajustar títulos */
    #imagem h1 {
        font-size: 1rem;
    }
    #imagem h2 {
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width: 1200px) {
    body {
        background-image: url('../imagem/pexels-kudi-32622213\ \(1\).jpg')
    }
    section#cadastro {
        width: 70%;                /* ocupa mais da tela em mobile */
            background-image: linear-gradient(to left,blue,green);
        padding: 0.7rem;
    }

    /* exemplo: ajustar títulos */
    #imagem h1 {
        font-size: 1.1rem;
    }
    #imagem h2 {
        font-size: 0.9rem;
    }
}